:root{
    --light-mode-bg:#FFFEEC;
    --dark-mode-bg: #222223;
    --lavender:#BCB4FF;
    --gold-green:#CAC426;
    --dark-green: #203627;
    --lemon-lime: #E8FF40;
    --PINK:#E23A48;
}

*{
    margin: 0;
    scroll-behavior: smooth;
}

*:focus{
    outline: none;
}

body{
    font-family: "Englebert", cursive;
    background-color: #353535;

}


.container {
    display: grid;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin-top: 40px;
    height: 90vh;
    border-radius: 20px;
    position: relative;
}

/* light mode  Styles*/
.light-mode {
    background-color: var(--light-mode-bg);
}


.container.light-mode .right-wrapper i:hover{
    color: var(--light-mode-bg)!important;
}

.container.light-mode .top-searchbar{
    background-color: var(--light-mode-bg);
}

.container.light-mode .nav-wrapper p,
.container.light-mode .nav-wrapper i{
    color: var(--lavender);
}

.container.light-mode .nav-wrapper:hover{
    background-color: var(--gold-green);
}

.container.light-mode .active-nav{
    background-color: var(--gold-green) !important;
}

.container.light-mode .active-nav p, 
.container.light-mode .active-nav i{
    color: var(--light-mode-bg) !important;
    /* background-color: var(--gold-green); */
}

.container.light-mode .left-search-wrapper{
    border: 2px solid var(--lavender);
}

.container.light-mode .left-search-wrapper i{
   color: var(--lavender);
}

.container.light-mode .right-wrapper i{
   color: var(--lavender);
}


.container.light-mode hr{
    background-color: var(--lavender);
}

.container.light-mode .avatar-img{
    border: 4px solid var(--lavender);
}

.container.light-mode .avatar-name p{
    color: var(--gold-green);
}

.container.light-mode .avatar-img:hover{
    border: 4px solid var(--gold-green);
}

.container.light-mode .recommended-heading p{
    color: var(--gold-green);
}

.container.light-mode .recommended-heading button{
    color: var(--lavender);
    background: none;
    border: 2px solid var(--lavender);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container.light-mode .recommended-heading button:hover{
    background-color: var(--lavender);
    color: var(--light-mode-bg);
}

.container.light-mode .book:hover{
    background-color: var(--dark-mode-bg);
}

.container.light-mode .left-mid-main{
    background-color: var(--gold-green);
}

.container.light-mode .rating i{
    color: var(--dark-mode-bg);
}
/* END OF LIGHT MODE STYLES */

/* scrollbar  */

*::-webkit-scrollbar {
    width: 0; 
    height: 0;
}


::-webkit-scrollbar-track {
    background: var(--light-mode-bg); /* Dark mode background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--light-mode-bg);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--light-mode-bg); 
}


input::-webkit-search-cancel-button {
    display: none;
}


input[type="search"]::-moz-search-clear-button {
    display: none;
}
 
/* nav styles */
.nav-grid {
    grid-row: span 5 / span 5;
    border-radius: 18px;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 4px 4px 10px rgba(34, 34, 35, 0.5);
}

.logo-nav{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-wrapper{
    width: 50px;
    height: 50px;
}

.logo-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logo-nav h1{
    color: var(--gold-green);
    font-size: 2.3rem;
}

/* mid-nav */
.mid-nav {
    margin-top: 30px;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 30px 0;
}

.nav-wrapper:hover{
    background-color: var(--gold-green);
}

.nav-icon i{
    color: var(--light-mode-bg);
    font-size: 1.7rem;
}

.nav-text p{
    font-size: 1.9rem;
    color: var(--light-mode-bg);
}

hr{
    background-color: var(--gold-green);
    color: var(--gold-green);
    height: 1px;
    border: none;
    max-width: 100%;
}

.active-nav{
    color: var(--gold-green);
    font-weight: 700;
    background-color: #BCB4FF;
}

/* main grid  */
.main-grid {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    /* background-color: var(--dark-mode-bg); */
    box-shadow: 4px 4px 10px rgba(34, 34, 35, 0.5);
    border-radius: 18px;
    overflow-y: scroll;
    padding: 20px 0 20px 20px;
}

/* searchbar */
.top-searchbar{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    max-width: 1129px;
    width: 100%;
    margin-top: 40px;
    top: 0px;
    z-index: 100;
    background-color:#353535;
   padding: 10px 0;
  
}

.left-search-wrapper{
    display: flex;
    align-items: center;
    padding: 11px 20px;
    border-radius: 20px;
    gap: 8px;
    border: 2px solid var(--gold-green);
    max-width: 250px;
    width: 100%;
}

.left-search-wrapper i{
    color: var(--light-mode-bg);
    font-size: 1.2rem;
}



.left-search-wrapper input{
    background: none;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    color: var(--light-mode-bg);
}

.right-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    gap: 20px;
}

.theme-wrapper{
    display: flex;
    gap: 18px;
}


.right-wrapper i{
    font-size: 1.5rem;
    color: var(--light-mode-bg);
    cursor: pointer;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.right-wrapper i:hover{
    background-color: var(--gold-green);

}

.avatar-img{
    width: 50px;
    height: 50px;
    border: 4px solid var(--gold-green);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.avatar-img:hover{
    border: 3px solid var(--lavender);
}

.avatar-img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.avatar-name{
    display: flex;
    gap: 9px;
    align-items: center;
}

.avatar-name p{
    color: var(--light-mode-bg);
    font-size: 1.6rem;
}

/* bottom main div */
.middle-main {
    display: grid;
    grid-template-columns: 2fr;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px; 
}

.right-mid-main {
    height: 100%;
    overflow-y: auto; /* Enables scrolling */
    padding-right: 10px;
}

.recommended-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommended-heading p{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--lavender);
    margin-bottom: 20px;
}

.recommended-heading button{
    padding: 7px 20px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 13px;
    color: var(--gold-green);
    background-color: var(--dark-mode-bg);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.recommended-heading button:hover{
    background-color: var(--light-mode-bg);
    color: var(--lavender);
}

.categories-div{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.book{
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.book:hover{
    background-color: var(--light-mode-bg);
    transform: scale(0.9);
}

.book .img-cover{
    width: 170px;
    height: 190px;
    margin-bottom: 10px;
}

.book .img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
}

.book .book-name{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: var(--lavender);
}

.book .book-author{
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--gold-green);
    text-align: center;
}

.recommended-heading button i{
    padding: 2px 10px;
}

.genres-container{
    margin-top: 50px;
}



/* .left-mid-main{
    background-color: var(--lavender);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;
    height: 100vh;
    position: relative;
    display: none;
} */

.inner-wrapper{
    position: relative;
    top: 23px;
    padding: 5px;
}
.preview-img-wrapper{
    width: 300px;
    height: 350px;
    margin: auto;
}

.preview-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.preview-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.preview-text .book-name{
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--dark-green);
    padding: 6px 0;
}

.preview-text .book-author{
    color: var(--light-mode-bg);
    font-size: 1.5rem;
    padding-bottom: 9px;
    font-weight: 600;
    letter-spacing: 1px;
}

.book-info{
    display: flex;
    justify-content: space-around;
}

.rating{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.rating i{
    color: var(--lemon-lime);
    font-size: 1.5rem;
    cursor: pointer;
}

.book-info{
    margin-top: 10px;
}

.book-info p{
    color: var(--PINK);
    font-size: 1.3rem;
    font-weight: 600;
}

.book-info p:nth-child(1){
    border-right: 2px solid var(--lemon-lime);
   padding-right: 25px;
}

.book-info p:nth-child(2){
    border-right: 2px solid var(--lemon-lime);
   padding-right: 25px;
}

.book-summary{
    padding-top: 20px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.book-summary p{
    font-size: 16px;
    line-height: 20px;
    
}

.read-btn {
    margin-top: 10px;
    max-width: 300px;
    width: 100%;
    margin: 10px auto;
}

.read-btn button {
    padding: 10px 25px;
    font-size: 1rem;
    color: var(--light-mode-bg);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--dark-mode-bg);
    font-weight: 600;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.read-btn button i{
    color: var(--PINK);
    padding-left: 5px;
}

.read-btn button:hover{
    background-color: var(--light-mode-bg);
    color: var(--lavender);
}

/* modal div */
.modal-div{
    background-color:var(--lavender);
    width: 100%;
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}

.modal-btn-container{
    position: absolute;
    top: 8px;
    right: 10px;
   
}

.modal-btn-container button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--PINK);
    background-color: var(--dark-mode-bg);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.modal-btn-container button:hover{
    background-color: var(--PINK);
    color: var(--dark-mode-bg);
}

.modal-div .inner-wrapper{
   width: auto;
   max-width: 300px;
    height: auto;
    object-fit: cover;
    object-position: center;
    padding-bottom: 40px ;
    padding-top: 10px;
}

.modal-div .preview-img-wrapper{
    width: auto;
    height: 290px;
    margin: auto;
}

.modal-div .preview-text{
    width: auto;
   max-width: 300px;
}