:root{
    --light-mode-bg:#FFFEEC;
    --dark-mode-bg: #222223;
    --lavender:#BCB4FF;
    --gold-green:#CAC426;
}

body{
    font-family: "Archivo", sans-serif;
    /* background-color: var(--dark-mode-bg); */
    background-color: #353535;
}


.container {
    display: grid;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    
}
    
.nav-grid {
    grid-row: span 5 / span 5;
    background-color: var(--dark-mode-bg);
    /* box-shadow: 0px 4px 15px rgba(34, 34, 35, 0.7); */
    box-shadow: 4px 4px 10px rgba(34, 34, 35, 0.5)
}

.main-grid {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    background-color: var(--dark-mode-bg);
    box-shadow: 4px 4px 10px rgba(34, 34, 35, 0.5)
}
        
