/* Responsiveness */
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
    .hidden{
        display: none;
    }

    .nav-grid{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0;
        border-radius: 25px;
     }

     .nav-wrapper{
       margin: 10px 0;
        border-radius: 50%;
        padding: 5px;
       width: 50px;
       height: 50px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .nav-icon i{
        font-size: 2rem;
    }
}

/* md */
@media (max-width: 768px) {
    .hidden{
        display: none;
    }

    .nav-grid{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
     }

     .nav-wrapper{
       margin: 10px 0;
        border-radius: 50%;
        padding: 5px;
       width: 50px;
       height: 50px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

}

/* sm */
@media (max-width: 640px) {
    .hidden{
        display: none;
    }

    .nav-grid{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
     }

     .nav-wrapper{
       margin: 20px 0;
        border-radius: 50%;
        padding: 10px;
       width: 30px;
       height: 30px;
       display: flex;
       align-items: center;
       justify-content: center;
    }
}

/* xs */
@media (max-width: 475px) {
    .hidden{
        display: none;
    }
    
    .nav-grid{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
    }

    .nav-wrapper{
        margin-top: 10px;
        border-radius: 50%;
        padding: 10px;
       width: 30px;
       height: 30px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .main-grid{
        padding: 10px;
    }



    .right-wrapper {
        display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    }
}
