/* Responsiveness */
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
    .hidden{
        display: none;
    }

    .nav-grid{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0;
        border-radius: 25px;
     }

     .nav-wrapper{
       margin: 10px 0;
        border-radius: 50%;
        padding: 5px;
       width: 50px;
       height: 50px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .nav-icon i{
        font-size: 2rem;
    }

    .left-mid-main{
        display: none;
    }
    .middle-main{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .right-mid-main{
        width: 100%;
    }
}

/* md */
@media (max-width: 768px) {
    .hidden{
        display: none;
    }

    .nav-grid{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
     }

     .nav-wrapper{
       margin: 10px 0;
        border-radius: 50%;
        padding: 5px;
       width: 50px;
       height: 50px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .left-mid-main{
        display: none;
    }
    .middle-main{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .right-mid-main{
        width: 100%;
    }
}

/* sm */
@media (max-width: 640px) {
    .hidden{
        display: none;
    }

    .nav-grid{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
     }

     .nav-wrapper{
       margin: 20px 0;
        border-radius: 50%;
        padding: 10px;
       width: 30px;
       height: 30px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .main-grid p{
        margin: 0;
    }

    .middle-main{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .right-mid-main{
        width: 100%;
    }

    .categories-div{
        padding-top: 10px;
    }

    .book .img-cover{
        width: 200px;
        height: 300px;
    }

    .left-mid-main{
        display: none;
    }

    .book{
        padding: 15px 0;
    }

    
}

/* xs */
@media (max-width: 475px) {
    .hidden{
        display: none;
    }
    
    .nav-grid{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
    }

    .nav-wrapper{
        margin-top: 10px;
        border-radius: 50%;
        padding: 10px;
       width: 30px;
       height: 30px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .top-searchbar{
        max-width: 475px;
        width: 100%;
    }

    .main-grid{
        padding: 20px 10px;
        text-align: center;
        overflow-x: hidden;
        
    }

    .middle-main{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .right-mid-main{
        padding: 0;
    }

    .left-mid-main{
        display: none;
    }

    .main-grid p{
        text-align: center;
        margin: 0;
    }

    .right-wrapper i{
        margin: 0;
    }

    .right-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }


    .book{
        padding: 15px 0;
    }

    .book .img-cover{
        width: 260px;
        height: 290px;
    }

    
    .categories-div{
        padding-top: 10px;
    }
}
